@font-face {
  font-family: 'squarefont';
  src:url('./fonts/Square.ttf') format('ttf'),
      url('./fonts/Squareo.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neon_80sregular';
  src: url('./fonts/neon-webfont.woff2') format('woff2'),
       url('./fonts/neon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* background-image: url('./img/blackbrick.jpg'); */
  background-color: rgb(22, 21, 24);
}
#wrap{
  display: flex;
  height: 100vh;
  margin-left: 10vh;
  margin-bottom: 20vh;
  /* position: absolute; */
  top: 0px;
  /* /* justify-content: space-between; */
  flex-direction: column;
  /* scroll-snap-type: block; */
  /* bottom: 200px; */
  /* backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px ); */
  transition: visible 0.5s smooth;
}
.n{
  /* display: flex; */
  /* justify-content: left; */
  /* align-items: center; */
  text-align: left;
  /* scroll-snap-align: center; */
  flex-direction: column;
  z-index: 1;
  margin-top: 10vh;
  margin-bottom: 20vh;
  margin-left: 8vh;
  /* position: auto; */
  /* flex: 1; */
  /* top: 20%; */
  width: 325px;
  height: 180px;
  /* background: rgb(250, 250, 250, 0.9);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  /* -moz-user-select: none;
	-webkit-user-select: none;
	/* -ms-user-select: none; */
	/* user-select: auto; */
	/* pointer-events: none; */
	/* z-index: ; */
	/* background: rgba(246, 246, 246, 0.1); */
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur( 1.0px );
  -webkit-backdrop-filter: blur( 1.0px );
  border-radius: 4px;
}
.n1{
  /* display: flex;
   justify-content:space-evenly; */
   z-index: 1;
   /* flex: 2; */
  /* position: inherit; */
  /* top: 20%; */
  margin-top: 35vh;
  margin-bottom: 30vh;
  /* background: rgba(231, 99, 11, 0.2); */
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}
.n2{
  /* display: flex;
  justify-content:space-evenly; */
  /* position: relative; */
  margin-top: 35vh;
  margin-bottom: 30vh;
  /* top: 300px; */
  /* background:  rgba(165, 164, 164, 0.2); */
}
.n3{
  /* display: flex;
  justify-content:space-evenly; */
  /* position: relative; */
  margin-top: 35vh;
  margin-bottom: 30vh;
  /* top: 400px; */
  /* background:  rgba(231, 78, 198, 0.2); */
}
.n4{
  /* display: flex;
   justify-content:space-evenly; */
   /* position: relative; */
   margin-bottom: 35vh;
   margin-top: 30vh;
   /* top: 500px; */
   /* background:  rgba(61, 214, 241, 0.2); */
  }
#block{
  height: 50px;
  width: 50px;
  position: absolute;
  background: whitesmoke;
  border: 1px solid black;
  z-index: 100;
  /* visibility: hidden; */
  /* display: none; */
}
#container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  /* pointer-events: none; */
  /* background: linear-gradient(rgba(255, 255, 255, 0.856), rgb(218, 218, 218)); */
}
ul {
  width: 3vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  /* border: 1px solid black; */
  list-style: none;
  margin: 2vw;
  padding: 0;
  border-radius: 3px;
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
}
li {
  font-size: 25px;
  height: 4vh;
  border: 1px solid rgb(0, 0, 0, 0.5);
  background-color:  rgba(17, 17, 17, 0.4);
  border-radius: 3px;
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
}
li:hover{
  background-color: rgb(241, 241, 241);
  border: 2px solid rgba(255, 255, 255, 0.822);
}
.nav{
  top: 12vh;
  margin-right: 3vw;
}
#portfolio{
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 2vw;

}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  /* line-height: 0px; */
  margin-top:-10px;
}

h2 {
  font-size: 24px;
  color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

a {
  color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.visible {
  transition-duration: 0.5s;
  transition: ease-in-out;
}