body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
	background-color: #000;
	color: #fff;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

/* #c {
  background: url("./img/sky.jpg");
} */

#info {
	position: absolute;
	/* top: 0px; */
  bottom: 0px;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

a {
	color: rgb(68, 68, 67);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a {
	pointer-events: auto;
}

#tooltip {
	position: absolute;
	color: rgb(68, 68, 67);
	background-color: #fff;
	top: 0px;
  /* bottom: 0px; */
	/* width: 10%; */
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

#modal {
	position: absolute;
	color: whitesmoke;
	/* background-color:  rgb(68, 68, 67); */
	top: 20px;
	right: 20px;
  /* bottom: 0px; */
	width: 30%;
	border: 4px whitesmoke;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	/* -ms-user-select: none; */
	user-select: auto;
	pointer-events: none;
	/* z-index: ; */
	background: rgba(5, 5, 5, 0.1);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px); */
  /* z-index: 100; */
  transition: all 0.5s;
}

#btn {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
	/* z-index: 100; */
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

h1 {
	font-family: 'Roboto';
	font-size: 3rem;
	text-align: center;
}

p {
	/* font-family: 'Roboto'; */
	font-size: 1.10rem;
	color: rgb(61, 60, 63);
}
